# Entorno virtual
myvenv/
venv/
env/

# Variables de entorno
.env

# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de medios subidos
media/

# VS Code
.vscode/

# Archivos del sistema Windows
Thumbs.db
desktop.ini

# Archivos del sistema Mac
.DS_Store
