<div class="nav-title">Principal</div>
<a href="{% url 'dashboard_supervisor' %}">
    <i class="bi bi-speedometer2 me-2"></i>Panel principal
</a>

<div class="nav-title">Gestión</div>
<a href="{% url 'lista_miembros' %}">
    <i class="bi bi-people me-2"></i>Miembros
</a>
<a href="{% url 'lista_usuarios' %}">
    <i class="bi bi-person-gear me-2"></i>Usuarios
</a>
<a href="{% url 'lista_eventos' %}">
    <i class="bi bi-calendar3 me-2"></i>Eventos
</a>
<a href="{% url 'gestionar_solicitudes' %}">
    <i class="bi bi-bell me-2"></i>Solicitudes
    {% if solicitudes_pendientes > 0 %}
        <span class="badge bg-danger ms-1">{{ solicitudes_pendientes }}</span>
    {% endif %}
</a>

<div class="nav-title">Reportes de la Iglesia</div>
<a href="{% url 'historial_visitas' %}">
    <i class="bi bi-clock-history me-2"></i>Historial visitas
</a>

<a href="{% url 'reportes' %}">
    <i class="bi bi-bar-chart me-2"></i>Reportes
</a>