<div class="nav-title">Principal</div>
<a href="{% url 'dashboard_secretaria' %}">
    <i class="bi bi-speedometer2 me-2"></i>Panel principal
</a>

<div class="nav-title">Reportes de la Iglesia</div>
<div class="nav-title">Gestión</div>
<a href="{% url 'lista_miembros' %}">
    <i class="bi bi-people me-2"></i>Miembros
</a>
<a href="{% url 'lista_eventos' %}">
    <i class="bi bi-calendar3 me-2"></i>Eventos
</a>

<a href="{% url 'reportes' %}">
    <i class="bi bi-bar-chart me-2"></i>Reportes
</a>